@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

body, html{
    font-family: 'Segoe UI', 'Sen';
    background-color: var(--background);
    overflow-x: hidden;
}

/*classes da home*/

.tituloHome{
    font-size: 33px;
    color: var(--padrao);
    font-weight: 600;
}

.textoHome{
    font-weight: 600;
    font-size: 20px;
    color: var(--textcolor);
    text-align: justify;
}

.caixa{
    border-radius: 0.5rem;
    background-color: white;
}

.componenteTabela{
    color: var(--textcolor);
    font-size: 17px;
    font-weight: 600;
}

/*classes das telas iniciais*/

.caixaSelecao{
    border-radius: 1rem;
    width: 250px;
}

:root{
    --textorodape: black;
}

.textoRodape{
    font-weight: bolder;
    font-size: 20px;
    font-weight: 500;
}

.textoCaixa{
    color: white;
    font-weight: 600;
    font-size: 23px;
}

.textoCaixa2{
    color: white;
    font-weight: 500;
    font-size: 17px;
}

.titulo{
    color: var(--textcolor);
    font-size: 40px;
    font-weight: 700;
}

/*formulario ficha catalografica*/

.tituloFicha{
    color: var(--textcolor);
    font-size: 30px;
    font-weight: 600;
}

.cabecalho{
    background-color: var(--monografia);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

}

.cabecalho-requisicao{
    background-color: var(--caixa);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom: 2px solid var(--textcolor);
}

.corpoRequisicao{
    border-radius: 20px;
}

.min-h-screen {
    min-height: 80vh;
}

.corpoFicha{
    background-color: white;
    border-radius: 0.5rem;
}

.backgroundGray {
    background-color: #f5f5f5;
    border: 0px;
}

.tituloCabecalho{
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.textoFicha{
    color: var(--textcolor);
    font-size: 16px;
    font-weight: 600;
}

/* telas de requisições */

.corpoRequisicao{
    background-color: white;
    border-radius: 1rem;
}

.tituoRequisicao{
    color: var(--textcolor);
    font-weight: 600;
    font-size: 27px;
}

.textoProtocolo{
    color: var(--textcolor);
    font-size: 17px;
    background-color: var(--background);
    border-radius: 0.5rem
}
.tituloListagem{
    font-weight: 600;
    font-size: 30px;
    border-bottom: 2px solid var(--textcolor);
}

.tituloProtocolo{
    color: var(--textcolor);
    font-size: 17px;
}

.search-input{
    height: 70%;
    width: 90%;
    border: none;
    outline: none;
}

html {
    overflow: hidden;
    height: 100%;
}
body {
    overflow: auto;
    height: 100%;
}

body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important; /removes the scrollbar but still scrollable/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}
