/*classes da home*/

.campoDeTexto{
    background-color: var(--background);
    border-radius: 0.5rem;
    height: 33px;
    padding-left: 10px;
    margin: 0;
}

.tituloHome{

}

.textoHome{}

.botao{
    color: white;
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 16px;
    border-radius: 0.5rem;
}
