:root{
    --textcolor: #131833;
    --padrao: #143BC2;
    --background: #f5f5f5;
    --biblioteca: #3252C1;
    --escolaridade: #1A2876;
    --caixa: #ffffff;
    --destaque: #EA4335;
    --confirmar: #4BC76C;
    --monografia: #5364A0;
}
